{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/assets/logo.ico" type="image/x-icon" sizes="any">
        <link rel='stylesheet' href='/static/css/style.css'>
        {{block "extraHead" .}} {{end}}
        <title>{{template "title" .}}</title>
        <link rel="alternate" type="application/atom+xml" title="{{template "title" .}} (Atom Syndication)" href="{{.Blogo.Url}}/atom">
        <link rel="alternate" type="application/json" title="{{template "title" .}} (JSON Feed)" href="{{.Blogo.Url}}/json">
        <link rel="alternate" type="application/rss+xml" title="{{template "title" .}} (RSS Feed)" href="{{.Blogo.Url}}/rss">
    </head>
    <body class="flex flex-col justify-center items-center py-4 min-h-screen font-mono bg-gradient dark:text-gray-300">
        <main class="py-8 font-mono">
            <div class="space-x-2 font-bold text-center text-md">
                <a class="underline text-base-content" href="/">Home</a>
                <a class="underline text-base-content" href="/about">About</a>
            </div>
        </main>
        
        {{template "main" .}}

        
        <footer class="mt-8 mb-3">
            <div class="flex items-center m-4 space-x-2 opacity-50">
                <span class="text-xs font-bold tracking-wider">powerred by</span>
                <a class="ml-1 text-xs font-bold tracking-wider underline" href="https://github.com/pluja/blogo">BLOGO</a>
            </div>
        </footer>

        {{if ne .Blogo.Analytics ""}}
            {{html .Blogo.Analytics}}
        {{end}}
    </body>
    {{block "extraOutterBody" .}} {{end}}
</html>
{{end}}